<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application Scanner</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Socket.IO istemci kütüphanesi -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Sol tarafa hizalanmış başlık -->
            <a class="navbar-brand" href="#">Web Application Scanner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Sağ tarafa hizalanmış Tarama Değerlendir butonu -->
                    <li class="nav-item">
                        <button class="btn btn-primary nav-link" onclick="location.href='{{ url_for('main.tarama_degerlendirme') }}'">Geçmiş Taramalar</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container my-5">
        <section class="card p-4 shadow">
            <h2 class="card-title">Güvenlik Aracı Seçin ve Taramayı Başlatın</h2>
            <form id="scan-form">
                <div class="mb-3">
                    <label for="tool" class="form-label">Tarama Aracı Seçin:</label>
                    <select id="tool" name="tool" class="form-select">
                        <option value="None">Bir araç seçin</option>
                        <option value="wapiti" title="Wapiti: Web uygulamaları için güvenlik açıklarını tarar.">Wapiti</option>
                        <option value="skipfish" title="Skipfish: Web uygulamalarında güvenlik açıklarını bulmak için kullanılan bir tarama aracı.">Skipfish</option>
                        <option value="raccoon" title="Raccoon: Bilgi toplama aracı, hedef sistemlerde zafiyetleri tespit eder.">Raccoon</option>
                        <option value="nmap" title="Nmap: Ağ keşfi ve güvenlik denetimleri için popüler bir port tarama aracı.">Nmap</option>
                        <option value="nikto" title="Nikto: Web sunucuları üzerinde güvenlik açıklarını ve yanlış yapılandırmaları tespit eder.">Nikto</option>
                        <option value="dirb" title="Dirb: Web sunucularında gizli dizinleri bulmak için dizin brute-force aracı.">Dirb</option>
                        <option value="google_dork" title="Google Dork: Google arama motorunu kullanarak hassas bilgileri bulmak için kullanılan bir teknik.">Google Dork</option>
                        <option value="slowloris_ddos" title="Slowloris DDOS: Web sunucularını düşük bant genişliği ile hizmet dışı bırakmaya yönelik bir DDOS saldırısı.">Slowloris DDOS</option>
                        <option value="sublist3r" title="Sublist3r: Belirli bir domain için alt alan adlarını tespit etmek için kullanılan araç.">Sublist3r</option>
                        <option value="dork_intelligence_name" title="Dork Intelligence: Verilen bir isim için Google Dork taraması yapar.">Dork Intelligence (Name)</option>
                        <option value="email_find_domain" title="Email Find Domain: Verilen domain üzerinden email adreslerini bulur.">Email Find Domain</option>
                        <option value="local_exploredevice" title="Local Network exploration using ARP-scan">Local Explore Device</option>
                        <option value="social_analyzer_name" title="Social Analyzer: Sosyal medya hesaplarını analiz etmek için kullanılan araç.">Social Analyzer</option>
                    </select>
                </div>

                <!-- Nikto Seçenekleri -->
                <div id="nikto-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="domain" class="form-label">Domain:</label>
                        <input type="text" id="domain-nikto" name="domain_nikto" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="port" class="form-label">Port:</label>
                        <input type="text" id="port-nikto" name="port" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="ssl_option" class="form-label">SSL Seçeneği:</label>
                        <select id="ssl_option" name="ssl_option" class="form-select">
                            <option value="ssl">SSL</option>
                            <option value="nossl">No SSL</option>
                        </select>
                    </div>
                </div>

                <!-- Nmap Seçenekleri -->
                <div id="nmap-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="domain" class="form-label">Domain:</label>
                        <input type="text" id="domain-nmap" name="domain_nmap" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="scan_type" class="form-label">Tarama Tipi:</label>
                        <select id="scan_type" name="scan_type" class="form-select">
                            <option value="1">Hafif Tarama</option>
                            <option value="2">Detaylı Tarama</option>
                        </select>
                    </div>
                </div>

                <!-- Raccoon Seçenekleri -->
                <div id="raccoon-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="domain" class="form-label">Domain:</label>
                        <input type="text" id="domain-raccoon" name="domain_raccoon" class="form-control" required>
                    </div>
                </div>

                <!-- Skipfish Seçenekleri -->
                <div id="skipfish-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="url" class="form-label">URL:</label>
                        <input type="text" id="url-skipfish" name="url_skipfish" class="form-control" required>
                    </div>
                </div>

                <!-- Wapiti Seçenekleri -->
                <div id="wapiti-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="url" class="form-label">URL:</label>
                        <input type="text" id="url-wapiti" name="url_wapiti" class="form-control" required>
                    </div>
                </div>

                <!-- Dirb Seçenekleri -->
                <div id="dirb-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="url-dirb" class="form-label">URL:</label>
                        <input type="text" id="url-dirb" name="url_dirb" class="form-control">
                    </div>
                </div>

                <!-- Google Dork Seçenekleri -->
                <div id="google-dork-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="domain-google" class="form-label">Domain:</label>
                        <input type="text" id="domain-google" name="domain_google" class="form-control">
                    </div>
                </div>

                <!-- Slowloris DDOS Seçenekleri -->
                <div id="slowloris-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="url-slowloris" class="form-label">URL:</label>
                        <input type="text" id="url-slowloris" name="url_slowloris" class="form-control">
                    </div>
                </div>

                <!-- Sublist3r Seçenekleri -->
                <div id="sublist3r-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="domain-sublist3r" class="form-label">Domain:</label>
                        <input type="text" id="domain-sublist3r" name="domain_sublist3r" class="form-control">
                    </div>
                </div>

                <!-- Dork Intelligence (Name) Seçenekleri -->
                <div id="dork-intelligence-name-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="name-dork-intelligence" class="form-label">İsim:</label>
                        <input type="text" id="name-dork-intelligence" name="name_dork_intelligence" class="form-control" required>
                    </div>
                </div>

                <!-- Email Find Domain Seçenekleri -->
                <div id="email-find-domain-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="domain-email-find-domain" class="form-label">Domain:</label>
                        <input type="text" id="domain-email-find-domain" name="domain_email_find_domain" class="form-control" required>
                    </div>
                </div>

                <!-- Local Explore Device Seçenekleri -->
                <div id="local-exploredevice-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="interface" class="form-label">Network Interface:</label>
                        <input type="text" id="interface" name="interface" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="ip_cidr" class="form-label">IP CIDR Notation:</label>
                        <input type="text" id="ip_cidr" name="ip_cidr" class="form-control" required>
                    </div>
                </div>

                <!-- Social Analyzer Seçenekleri -->
                <div id="social-analyzer-options" class="tool-options" style="display:none;">
                    <div class="mb-3">
                        <label for="target-name-social-analyzer" class="form-label">Kullanıcı Adı:</label>
                        <input type="text" id="target-name-social-analyzer" name="target_name_social_analyzer" class="form-control" required>

                    </div>
                </div>


                <!-- Tarama Başlat Butonu -->
                <div class="text-center mt-4">
                    <button type="button" onclick="startScan()" class="btn btn-secondary">Tarama Başlat</button>
                </div>
            </form>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Bootstrap JS Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
